*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: steelblue;
    padding: 40px;
}

.pomodoro{

    width: 400px;
    background-color: green;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    display: none;
}

.pomo_time{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.pomo_btns{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.inicio, 
.parar{
    
    width: 155px;
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    
}

.inicio:active,
.parar:active{
   transform: scale(.9);
    

}

.inicio:hover,
.parar:hover{
  
    background-color: rgb(79, 148, 176);

}

.disable{
    opacity: .5;
    cursor: no-drop;
}

.pomos{
    width: 600px;
  
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    

}

.pomos button{
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
}


.pomos button:active{
    transform: scale(.9);
    background-color: rgb(12, 162, 12);
}



.active{
    display: block;
}